{%extends "layouts/base.html" %}
{% load bootstrap4 %}

{% load static %}
{%block content %}
<div class="d-flex gap-3 align-items-center">
  <h1>New Question</h1>
</div>
  <div class="col-md-8">
    <article class="mb-10 w-100">
      <div class="row g-0">
        <div class="col-0 p-2">
        </div>
        <div class="col">
          <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="mt-3 ms-5">
                          <button type="submit" class="btn btn-outline-success">ASK!</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </article>
  </div>
{%endblock%}
