{%extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}
{%block content %}
<div class="d-flex gap-3 align-items-center">
<h1>Log in</h1>
</div>
<div class="col-md-8">
  <article class="mb-10 w-100">
    <div class="row g-0">
      <div class="col-0 p-2">
      </div>
      <div class="col">
        <div class="card-body">
          <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">Log In!</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-center">Don't have an account? <a href="{% url 'signup'%}">Create new account</a></p>
            </div>
        </div>
    </form>
        </div>
      </div>
    </div>
  </article>
</div>
{%endblock content%}
