{%extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}
{%block content %}
  <div class="col-8">
    {%include "components/question.html" with item=question%}
    <hr>
    {%for item in answers%}
      {% include "components/answer.html" with answer=item %}
    {%endfor%}
      {% include "components/pagination.html" with page_obj=answer %}
    <article class="mb-5 w-100">
      <div class="row g-0">
        <div class="col-0 p-0">
        </div>
        <div class="col p-0">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="mt-1 ms-0">
                <button type="submit" class="btn btn-outline-success" style="width: 15%;">Answer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </article>
  </div>
{%endblock%}